<!DOCTYPE html>
    <h1>안녕하세요 EJS 템플릿을 사용한 화면입니다.</h1>
    <p>EJS 를 사용하시면 편하게 화면을 구성하실 수 잇습니다.</p>
    <hr/>
    아이디 : <input type="text" id="userId"/>
    <br>
    비밀번호 :<input type="text" id="userPassword"/>
    <br>
    <button type="button" id="loginBtn">로그인</button>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $("#loginBtn").click(function(){
            var userId = $("#userId").val();
            var userPassword = $("#userPassword").val();
            console.log(userId, userPassword);
            $.ajax({
                url:'/ajaxTest',
                type : 'POST',
                data : {
                    sendUserId : userId,
                    sendUserPassword : userPassword
                },
                success:function(response){
                    console.log(response)
                }
            })

        })
    </script>
</html>